body {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    overflow: hidden;
}

#progressbar {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 5px;
    background: white;
    transform-origin: 0%, 0%;
    z-index: 666;
}

canvas {
     position: absolute;
 }

.like {
     display: block;
     width: 110px;
     height: 110px;
     margin: 0 auto;
     background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/349115/like_animation.png) 0 0 no-repeat;
     background-size:3000%;
     animation: like-gif steps(28) 5s infinite both;
     animation-delay: 0.5s;
     animation-iteration-count: 1;
 }
 .pause{
     animation-play-state: paused;
 }
 div {
     width: 100px;
     margin:0 auto;
     text-align: center;
 }
 @keyframes like-gif {
     0% {
         background-position: 0%;
     }
     100% {
         background-position: 100%;
     }
 }